<!-- package booking start-->
<div class="sub_container">
    <div class="header">
        <h2>Package Information</h2>
    </div>
    <div class="package_booking_sections">
        <div class="package_section">
            <div class="package_details_row_left">
                <h3>Package Name</h3>
            </div>
            <div class="package_details_row_right">
                <p>Standard Enterprise Solution</p>
            </div>
        </div>
        <hr>
        <div class="package_section">
            <div class="package_details_row_left">
                <h3>Package Price</h3>
            </div>
            <div class="package_details_row_right">
                <p>Standard Enterprise Solution</p>
            </div>
        </div>
        <hr>
        <div class="package_section">
            <div class="package_details_row_left">
                <h3>Package Description</h3>
            </div>
            <div class="package_details_row_right">
                <p>Standard Enterprise Solution</p>
            </div>
        </div>
        <hr>
        <div class="package_section">
            <div class="package_details_row_left">
                <h3>Package Informations</h3>
            </div>
            <div class="package_details_row_right">
                <p>Standard Enterprise Solution</p>
                <p>Facebook Banner</p>
                <p>Business Website (Standard)</p>
                <p>Content creation</p>
                <p>Standard Enterprise Solution</p>
                <p>Standard Enterprise Solution</p>
                <p>Standard Enterprise Solution</p>
            </div>
        </div>
        <hr>
    </div>
</div>
<!-- package booking end-->